# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.swp

# Virtual environment directories
venv/
.venv/
.venv-*

# Environment variables file (do not commit your secrets!)
.env

# Other common ignores
*.egg-info/
